<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ED1C24"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <title>Find__Food</title>
</head>
<body>
    <a href="#maincontent" tabindex="0" class="goto__content">Menuju ke konten</a>
    <header>
        <app-bar></app-bar>
    </header>
    <div class="hero">
        <div class="hero__inner">
            <h2 class="hero__title">Temukan tempat makan, Untukmu dan Rekanmu</h2>
            <p class="hero__tagline">Menemukan tempat makan favoritmu bersama pasangan, rekan atau teman di berbagai sudut kota</p>
            <a href="#maincontent" class="hero__calltoaction">Temukan Restoran</a>
        </div>
    </div>
    <main class="section" id="maincontent">
        <h2 class="section__title center" tabindex="0">Temukan Restoran</h2>
        <div class="section__search">
            <input id="search" name="search" type="text" placeholder="Nama Restoran atau Kota" title="Search Input">
            <button class="section__search__button" id="buttonSearch" aria-label="Search button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" viewBox="0 0 20 20" style="color: white;" fill="currentColor">
                    <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd" />
                  </svg>
            </button>
        </div>
        <section id="allitem">

        </section>
                
    </main>
    <app-footer></app-footer>
</body>
</html>
